<%= form_with(model: todo) do |form| %>
  <% if todo.errors.any? %>
    <ul>
      <% todo.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form.text_field :title %>
  <%= form.submit %>
<% end %>