<%= link_to "defolt link", todos_path %>
<%= link_to "turbo false", todos_path, date: {turbo: false} %>

<div id='todos'>
  <%= render @todos %>
</div>

<%= turbo_frame_tag 'new_todo', src: new_todo_path do %>
<% end %>